{% extends 'cadastros/modelo.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block titulo %}
<title>Excluir Registros</title>
{% endblock %}

{% block destaque %}
    
{% endblock %}

{% block conteudo %}
<h3>Confirmar exclusão de cliente</h3>
  <p>Você está prestes a excluir o seguinte cliente:</p>
  <hr>
  <ul>
    <li><strong>Nome:</strong> {{ cliente.nome }}</li>
    <li><strong>Email:</strong> {{ cliente.email }}</li>
    <li><strong>Telefone:</strong> {{ cliente.telefone }}</li>
  </ul>
  <p>Endereço:</p>
  <ul>
    <li><strong>Endereço:</strong> {{ cliente.endereco.endereco }}</li>
    <li><strong>Número:</strong> {{ cliente.endereco.numero }}</li>
    <li><strong>Complemento:</strong> {{ cliente.endereco.complemento }}</li>
    <li><strong>Bairro:</strong> {{ cliente.endereco.bairro }}</li>
    <li><strong>Cidade:</strong> {{ cliente.endereco.cidade }}</li>
    <li><strong>Estado:</strong> {{ cliente.endereco.estado }}</li>
    <li><strong>CEP:</strong> {{ cliente.endereco.cep }}</li>
  </ul>
  <p>Usuário associado:</p>
  <ul>
    <li><strong>Nome de Usuário:</strong> {{ cliente.user.username }}</li>
  </ul>
  <p>Tem certeza de que deseja continuar com a exclusão? Isso também excluirá o usuário e o endereço associados a este cliente.</p>
  <form method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger" value="Confirmar exclusão">
    <a href="{% url 'cliente_list' %}" class="btn btn-secondary">Cancelar</a>
  </form>
{% endblock %}

{% block footer %}

{% endblock %}
