{% extends "cadastros/modelo.html" %}

{% load crispy_forms_tags %}

{% block conteudo %}
  <br>
  <h3>Criar/Editar Cliente</h3>
  <p>Preencha todos os campos obrigatórios</p>
  <hr>
  <p>Cadastre primeiro o endereço e depois selecione o endereco cadastrado</p>
  <a href="{% url 'endereco_create' %}" class="btn btn-primary btn-sm">Cadastrar Endereço</a>  
  <hr>
  
  <form method="post">
    {% csrf_token %}
    <div class="row mb-3">
      <div class="col-sm-8">
          {{ form.nome|as_crispy_field }}
      </div>
      <div class="col-sm-2">
          {{ form.username|as_crispy_field }}
      </div>
      <div class="col-sm-2">
          {{ form.password|as_crispy_field }}
      </div>
      <div class="col-sm-4">
          {{ form.email|as_crispy_field }}
      </div>
      <div class="col-sm-3">
          {{ form.telefone|as_crispy_field }}
      </div>
      <div class="col-sm-5">
          {{ form.endereco|as_crispy_field }}            
      </div>      
      
    </div>
    <!-- Adicione um botão para criar um novo endereço -->
    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <a href="{% url 'cliente_list' %}" class="btn btn-secondary">Voltar para a lista</a>
  </form>
  
{% endblock %}

{% block footer %}

{% endblock %}

